{{define "content"}}
    <div class="subnavi">
        <a href="/stats_{{.Platform}}/{{.Player.Name}}"
           style="background-image:url(/static/img/bfbcs/ranks/r{{printf "%03.0f" .Values.rank}}.png)">Overview</a>
        <a href="/stats_{{.Platform}}/{{.Player.Name}}/dogtags"
           style="background-image:url(/static/img/bfbcs/misc_icons/dt1.png)">Dogtags</a>
        <a href="/stats_{{.Platform}}/{{.Player.Name}}/nemesis_dogtags"
           style="background-image:url(/static/img/bfbcs/misc_icons/dt3.png)"
           class="active">Nemesis dogtags</a>
        <div class="clear"></div>
    </div>
    <h1><strong>{{.Player.Name}}</strong> &nbsp; <em>{{getRankName .Values.rank}}</em> &nbsp; Nemesis dogtags</h1>
    <div class="pstats">
        <div class="stcol_1">
            <h2>Nemesis dogtags - who has my dogtag?</h2>
            <table class="stable sortable">
                <thead>
                <tr>
                    <th class="left">Rank</th>
                    <th class="left">Name</th>
                    <th>Bronze</th>
                    <th>Silver</th>
                    <th>Gold</th>
                </tr>
                </thead>
                <tr>
                    <td colspan="5" class="left">Nemesis dogtags are currently not available</td>
                </tr>
            </table>
        </div>
        <div class="stcol_2">
            <h2>Summary</h2>
            <dl>
                <dt>Dogtags total:</dt>
                <dd class="right">0</dd>

                <dt>Dogtags unique:</dt>
                <dd class="right">0</dd>

                <dt>Bronze total:</dt>
                <dd class="dogt_bron">0</dd>

                <dt>Bronze unique:</dt>
                <dd class="dogt_bron">0</dd>

                <dt>Silver total:</dt>
                <dd class="dogt_silv">0</dd>

                <dt>Silver unique:</dt>
                <dd class="dogt_silv">0</dd>

                <dt>Gold total:</dt>
                <dd class="dogt_gold">0</dd>

                <dt>Gold unique:</dt>
                <dd class="dogt_gold">0</dd>
            </dl>
            <div class="clear"></div>
            <p>
                Do not suppose that this list of nemesis dogtags is complete.<br/>
                It's only complete if all players who knived you are refreshed in our database.</p>
        </div>
        <div class="clear"></div>
        <br/>
    </div>
{{end}}
