{{define "content"}}
    <div class="subnavi">
        <a href="/stats_{{.Platform}}/{{.Player.Name}}"
           style="background-image:url(/static/img/bfbcs/ranks/r000.png)">Overview</a>
        <a href="/stats_{{.Platform}}/{{.Player.Name}}/dogtags"
           style="background-image:url(/static/img/bfbcs/misc_icons/dt1.png)">Dogtags</a>
        <a href="/stats_{{.Platform}}/{{.Player.Name}}/nemesis_dogtags"
           style="background-image:url(/static/img/bfbcs/misc_icons/dt3.png)"
           class="active">Nemesis dogtags</a>
        <div class="clear"></div>
    </div>
    <h1><strong>{{.Player.Name}}</strong> &nbsp; Nemesis dogtags</h1>
    We have currently no data for this player in our database.<br/>
    The player either did not exist on this platform or their data were not archived.
{{end}}
